<a class="footer-wrapper footer-left-wrapper" href="http://israelonthehouse.com/content/young-professionals-trip-itinerary#!/signup">
    <div class="sprite professional-icon"></div>
    <span class="footer-icon-text">young professionals</span>
</a>

<a class="footer-wrapper footer-middle-wrapper">
    <div class="sprite student-icon"></div>
    <span class="footer-icon-text">students</span>
</a>

<a class="footer-wrapper footer-right-wrapper" href="#!/info" >
    <div class="sprite information-icon"></div>                
    <span class="footer-icon-text">trip information</span>
</a>