<section data-ng-controller="RegisterController">
	<div class="text-content">	
		<h1>How to Register</h1>
		<accordion-group heading="{{titles[0]}}">
		Join our mailing list so we can keep you up to date with the registration process. We promise not to send you loads of unnecessary emails, just enough to keep you informed and help you get the trip you want.
    	</accordion-group>
    	<accordion-group heading="{{titles[1]}}">
    	Registration opens on:<br>New Applicants:  September 10th, 2013 at 10am EST<br>Returning Applicants:  September 9th at 12pm EST
    	</accordion-group>
    	<accordion-group heading="{{titles[2]}}">
    	Once registration is open visit <a href="www.israelonthehouse.com">www.israelonthehouse.com</a> and click 'Register Now' to complete your online application form.   What’s included in the registration forms and what type of questions will I be asked?
    	</accordion-group>
    	<accordion-group heading="{{titles[3]}}">
    	Sachlav | IsraelontheHouse will then send you a welcome email with detailed instructions on what you need to do next in order to secure a trip. Please add <a href="theteam@israelonthehouse.com">theteam@israelonthehouse.com</a> and <a href="info@israelonthehouse.com">info@israelonthehouse.com</a> to your contacts to ensure that you receive this mail and it’s not marked as spam.
    	</accordion-group>
    	<accordion-group heading="{{titles[4]}}">
    	Shortly after receiving your welcome email you will receive a Flight Dates and Friend Request form via email. This form will give you the opportunity to tell us what trip dates suit you, and also to let us know which friends you’d like to travel with.
    	</accordion-group>
    	<accordion-group heading="{{titles[5]}}">
    	We answer your questions and post important travel tips and trip updates on our Facebook page all the time.
    	</accordion-group>
    	<accordion-group heading="{{titles[6]}}">
    	About a week after registering we will send you an email requesting a short telephone interview. This interview doesn’t last more than 10 minutes.
    	</accordion-group>
    	<accordion-group heading="{{titles[7]}}">
    	We send out trip offers about a month after registration closes, and will continue to do so for up to 2 months after registration closes.  Trip offers will be sent out in stages according to the month you chose to travel i.e. November flights will be offered first, followed by December etc.  Once your Trip Offer lands in your inbox, you have 48 hours to accept it.
    	</accordion-group>
	</div>	  
</section>